@font-face {
	font-family: 'Nexa Bold';
	src: url('https://github.com/ravenjohn/.jarvis.js/blob/gh-pages/fonts/NEXA_BOLD.otf?raw=true');
}
@font-face {
	font-family: 'Nexa Light';
	src: url('https://github.com/ravenjohn/.jarvis.js/blob/gh-pages/fonts/NEXA_LIGHT.otf?raw=true');
}
*{
	font-family: "Nexa Light";
	outline: 0;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background: #181818; /* Old browsers */
}
#home, #why{
	min-height: 500px;
	position: relative;
	text-align: center;
	background: #272b37;
	background: -moz-radial-gradient(center, ellipse cover,  #272b37 0%, #181818 55%, #181818 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#272b37), color-stop(55%,#181818), color-stop(100%,#181818));
	background: -webkit-radial-gradient(center, ellipse cover,  #272b37 0%,#181818 55%,#181818 100%);
	background: -o-radial-gradient(center, ellipse cover,  #272b37 0%,#181818 55%,#181818 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #272b37 0%,#181818 55%,#181818 100%);
	background: radial-gradient(ellipse at center,  #272b37 0%,#181818 55%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272b37', endColorstr='#181818',GradientType=1 );
	background-attachment: static;
	background-position: center;
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272b37', endColorstr='#181818',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#inner-home, #inner-why{
	position: absolute;
	max-height: 700px;
	width: 100%;
}
span.title{
	font-size: 3.5em;
	color: white;
	font-family: "Nexa Bold";
	clear: both;
}
p{
	max-width: 800px;
	text-align: center;
	color: #45A9bb;
	margin: 20px auto 20px;
	font-size: 1.2em;
}
p a{
	color: #FFF;
}
#demo-button{
	font-size: 1.2em;
	border: 3px solid #66b1c0;
	box-shadow: 0 0 10px #66b1c0;
	color: #66b1c0;
	background: transparent;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}
#demo-button:hover{
	background: #66b1c0;
	color: #272b37;
	text-shadow: 0 0 3px #272b37;
}
footer{
	text-align: center;
	width: 100%;
	min-height: 300px;
	border-top: 3px solid #272727;
	background-color: #3e3e3e;
}
#thnks{
	font-size: .8em;
}